/* Estilos para el sitio web */

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    display: inline;
    margin-right: 50px;
}

.navbar-list li a {
    color: goldenrod;
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
}

.navbar-logo {
    width: 335px;
    height: auto;
    margin-left: 30px;
}

.navbar-list li a:hover {
    text-decoration: underline;
}

div {
    background-color: rgb(44, 39, 39);
    padding: 20px 0;
    margin: 0px;
}

label {
    font-size: 16px;
    color: white;
}

.titulo-centrado{
    text-align: center;
    color: beige;
    font-size: 32px;
}

.subtitulo {
    font-size: 20px;
    text-align: center;
    color: azure;
}

p {
    font-size: 16px;
    text-align: center;
    color: white;
}

section {
    background-color: rgb(19, 18, 18);
    margin: 0px;
    padding: 1px;
}

.foot-bar {
    background: black;
}

.foot-items {
    display: flex;
    justify-content: center;
}

.foot-logos {
    width: 50px;
    height: auto;
    margin: 10px 20px;
    padding-left: 100px;    
}

